#venta_listado_tabla tbody tr{
    height: 90px;
}

.venta_estado_005 {
    border-radius: 0%;
    padding: 0 1em;
    text-align: center  ;
    display: block;
    border: black dashed;
}

.venta_estado_005.id_1{ background-color: #c8e6c9; }
.venta_estado_005.id_2{ background-color: #ffffff; }
.venta_estado_005.id_3{ background-color: #ffffff; }
.venta_estado_005.id_4{ background-color: #ffffff; }
.venta_estado_005.id_5{ background-color: #ffffff; }
.venta_estado_005.id_6{ background-color: #e57373; }
.venta_estado_005.id_7{ background-color: #ffea00; }
.venta_estado_005.id_8{ background-color: #558b2f; color: white; }
.venta_estado_005.id_9{ background-color: #558b2f; color: white; }
.venta_estado_005.id_10{ background-color: #d32f2f; color: white; }
.venta_estado_005.id_11{ background-color: #b71c1c; }




